.main-body {
  margin-left: 200px;
  min-width: 550px;
  max-width: 1200px;
}
.grid {
  width: 100%;
  display: grid;
  grid: var(--top-menu-height) / 1fr;
  grid-template-areas:  "menu"
                        "maincontent";
  /* min-height: 70vh; */
}
.Sidebar{
  overflow: visible;
}
.menu {
  grid-area: menu;
  z-index: 100;
}

.main-content {
  grid-area: maincontent;
  background-color: #f9fafb;
}
.highlight-menu{
  background: red;
}